.mobile-footer {
    display: none;
}

@media only screen and (max-width: 768px){
    .mobile-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0;
    }

    .mobile-footer-upper {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .mobile-footer-lower {
        height: 100%;
        flex: 1;
    }
}