.mobile-footer {
    display: none;
}

@media only screen and (max-width: 768px){
    .mobile-footer {
        display: block;
    }

    .mobile-footer-upper {
        display: flex;
        justify-content: space-around;
    }

    .mobile-footer-lower {
    }
}