.TaskGroup {
	margin-top: 1em;
}

.taskgroup-header {
	display: flex;
	justify-content: space-between;
}

.taskgroup-header:hover {
	cursor: pointer;
}

.TaskGroup.unscheduled {
	margin-bottom: 1em;
}

/* .taskgroup-header-groupname {
	text-decoration: underline;
	text-decoration-thickness: 1px;
} */