.task {
	font-size: 1.2em;
	font-family: "Quicksand", sans-serif;
	display: flex;
	background-color: white;
	word-wrap: break-word;
	margin: auto;
	padding-left: 0.4em;
}

.task-desc {
	margin: auto;
	margin-left: 0;
	font-size: 16px;
}

.completed-true {
	text-decoration: line-through;
}

/* fixme: task editing */
form {
	display: flex;
	width: 88%;
}

.task:hover {
	background-color: rgba(0, 0, 0, 0.04);
}



/*--------------*/
/* TASK BUTTONS */
/*--------------*/

 .delete-button {
	visibility: hidden;
}

.schedule-button {
	visibility: hidden;
}

.task:hover .delete-button, .task:hover .schedule-button {
	visibility: visible;
}

.task-button-container{
	display: flex;
}






/*------------------------*/
/*    SCHEDULING MODAL    */
/*------------------------*/

/* .start-date-picker, .end-date-picker, .start-time-picker, .end-time-picker {
	margin-bottom: 1em;
} */

.start-pickers {
	display: flex;
	margin-bottom: 1em;
}

.end-pickers {
	display: flex;
	margin-bottom: 1em;
}

/* .schedule-modal-button {
	align-self: center;
} */