.task {
	font-size: 1.2em;
	font-family: "Quicksand", sans-serif;
	display: flex;
	background-color: white;
	word-wrap: break-word;
	margin: auto;
	padding-left: 0.4em;
}

.task-desc {
	margin: auto;
	margin-left: 0;
	font-size: 1.2em;
}

.completed-true {
	text-decoration: line-through;
}

li {
	font-weight: 300;
}

form {
	display: flex;
	width: 88%;
}

.delete-button {
	display: none !important;
}

.schedule-button {
	display: none !important;
}

.task:hover .delete-button, .task:hover .schedule-button {
	display: flex !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: auto !important;
	margin-right: 0.5em !important;
}

/* .task-buttons {
	display: none !important;
} */

/* .task-button-container {
		display: flex !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		margin-left: auto !important;
		margin-right: 0.5em !important;
		float: right !important;
		padding: 0 !important;
		width: 50% !important;
		height: 100% !important;
} */

/* .delete-button {
	display: block !important;
}

.schedule-button {
	display: block !important;
} */

.task:hover {
	background-color: rgba(0, 0, 0, 0.04);
}
