.task-container {
	width: 33vw;
	height: 100vh;
}

h1,
h2 {
	font-family: "Quicksand", sans-serif;
}

.header {
	display: flex;
	justify-content: space-around;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 33vw;
}
