.task {
	font-size: 1.2em;
	font-family: "Quicksand", sans-serif;
	display: flex;
	background-color: white;
	word-wrap: break-word;
	margin: auto;
	padding-left: 0.4em;
}

.task-desc {
	margin: auto;
	margin-left: 0;
	font-size: 1.2em;
}

.completed-true {
	text-decoration: line-through;
}

li {
	font-weight: 300;
}

/* fixme: task editing */
form {
	display: flex;
	width: 88%;
}

 .delete-button {
	display: none !important;
}

.schedule-button {
	display: none !important;
}

.task:hover .delete-button, .task:hover .schedule-button {
	display: inline-flex !important;
}

.task-button-container{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0;
}

.task:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.start-date-picker, .end-date-picker, .start-time-picker, .end-time-picker {
	margin-bottom: 1em;
}