.task-container {
	width: 33vw;
	height: 100vh;
	border-right: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.12);
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	overflow: scroll;
	justify-content: flex-start;
}

h1,
h2 {
	font-family: "Quicksand", sans-serif;
}

.task-header {
	width: 100%;
	height: 5%;
}

.task-body {
	width: 100%;
	padding-right: 17px;
	justify-content: flex-start;
}

.task-footer {
	width: 100%;
}

button {
	margin-left: 42px !important;
	margin-top: 1em !important;
}

ul {
	padding: 0;
}

.collapsed {
	display: none;
}

.expanded {
	display: block;
}
