.task-container {
	width: 33vw;
	height: 100vh;
	border-right: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.12);
}

h1,
h2 {
	font-family: "Quicksand", sans-serif;
}

.header {
	display: flex;
	justify-content: space-around;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 33vw;
}

button {
	margin-left: 42px !important;
	margin-top: 1em !important;
}

ul {
	padding: 0;
}

.collapsed {
	display: none;
}

.expanded {
	display: block;
}
